.homepage-title-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px #fff solid;
    width: 60%;
    max-width: 1060px;
    margin: 30vh auto;
    padding: 50px;
    background: #333333CC;
}

.homepage-verse {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.homepage-reference {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 30px;
}
