.homepage-title-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px #fff solid;
    width: 65%;
    margin: 40vh auto;
}

.homepage-title {
    color: #fff;
}