// Place all the styles related to the api/quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quiz-index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.quiz-create-form {
    display: flex;
    justify-content: space-between;
    width: 25%;
    max-width: 320px;
    margin-bottom: 30px;
}

.quiz-book-options {
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
}

.quiz-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 640px;
    padding: 20px 30px;
    background: #ffffffD9;
    border: 1px white solid;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px black groove;
}

.quiz-header p:first-of-type {
    width: 125px;
}

.quiz-list {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.quiz-line-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px black dotted 
}

.quiz-line-item li {
    width: 125px;
}

.quiz-questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%;
    max-width: 895px;
    padding: 20px 30px;
    background: #ffffffD9;
    border: 1px white solid;
    margin-bottom: 30px;
}
