// Place all the styles related to the api/quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quiz-index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.quiz-create-form {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-bottom: 30px;
}

.quiz-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
}

.quiz-header p:first-of-type {
    width: 125px;
}

.quiz-list {
    width: 100%;
}

.quiz-line-item {
    display: flex;
    justify-content: space-between;
}

.quiz-line-item li {
    width: 125px;
}
