// Place all the styles related to the api/verses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.verse-index-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px black dotted;
}

.verse-question-label {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.verse-index-item input[type=text] {
    width: 30px;
    margin-top: 10px;
}

.verse-cor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2E8B57;
    margin-top: 10px;
}

.verse-cor {
    margin-left: 10px;
}

.verse-incor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff4d4d;
    margin-top: 10px;
}

.verse-incor {
    margin-left: 10px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    max-width: 895px;
    font-size: 10px;
    margin-top: 20px;
}
