// Place all the styles related to the api/verses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.verse-index-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.verse-index-item input[type=text] {
    width: 30px;
    margin-left: 10px;
}

.verse-cor {
    color: #2E8B57
}

.verse-incor {
    color: #ff4d4d;
}
