.background {
    background: rgb(252, 247, 241);
    background-size: cover;
    min-height: 100vh;
}

/* Button */
.white-btn {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    box-shadow: inset;
    cursor: pointer; 
}

.yellow-btn {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: #ffcc00;
    color: black;
    cursor: pointer;
}

.green-btn {
    border: 1px black solid;
    padding: 5px;
    border-radius: 5px;
    background: #007500;
    color: #fff;
    cursor: pointer;
    font-size: 16px;;
}

.red-btn {
    border: 1px black solid;
    padding: 5px;
    border-radius: 5px;
    background: #cc0000;
    color: #fff;
    cursor: pointer;
}

.blue-btn {
    border: 1px black solid;
    padding: 5px;
    border-radius: 5px;
    background: #0079bf;
    color: #fff;
    cursor: pointer;  
    font-size: 16px;  
}

.signup-btn {
    margin-right: 30px;
    border: 3px white solid;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 1s all ease;
}

.signup-btn:hover {
    border: 3px #989898 solid;
    background: #fff;
    color: #333;
    transition: 1s all ease;
    border-radius: 7px;
}

.gen-btn {
    border: 3px white solid;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 1s all ease;
}

.gen-btn:hover {
    border: 3px #989898 solid;
    background: #fff;
    color: #333;
    transition: 1s all ease;
    border-radius: 7px;
}

.dark-btn {
    border: 3px #fff solid;
    border-radius: 5px;
    background: #000000BF;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    transition: 1s all ease;
}

.dark-btn:hover {
    border: 3px black solid;
    border-radius: 7px;
    transition: 1s all ease;
    background: #efefef;
    color: black;
}

/* Inputs */

input[type="text"] {
    width: 60%;
    font-size: 17px;
    padding: 0 5px;
}

input[type="password"] {
    width: 60%;
    font-size: 17px;
    padding: 0 5px;
}

/* Homepage */
